table {
    width: 400px;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td, th {
    border: 1px solid black;
    padding: 3px;
    
}

